@media only screen and (max-width: 40em) { 
	html{
		body{
			.header{
				height: 100%;
				padding: 45px;
				padding-left: 0px;
				padding-right: 0px;
			}
			.logo{
				width: 70%;
			}
			.homepage-hero-module {
	            border-right: none;
	            border-left: none;
	            position: relative;
	            height: 365px;
	        }
	        nav{
	        	.container{
	        		.res-nav_click{
	        			&:active, &:focus, &:visited{
	        				color: #777777 !important;
	        			}
	        		}
	        	}
	        }
	        ul{
	        	&.main-nav{
	        		display: none;
	        		z-index: 2;
	        		top: 68px;
	        		li{
	        			width: 100%;
	        			&.small-logo{
	        				display:  none;
	        			}
	        		}
	        	}
	        }

	        /* Carrousel */
	        .Portfolio-box{
	        	height: auto;
	        	max-width: 350px!important
	        }
	        .carousel{
	            .owl-carousel{
	                width: 92%;
	                margin: 0 auto;
	                z-index: 2;
	                .owl-wrapper-outer{
	                	width: 98%;
	                }
	                .item{
	                    margin: 10px;
	                }
	                .owl-pagination{
	                    text-align: center;
	                }
	                .owl-page{
	                    display: inline-block;
	                    span {
	                        display: block;
	                        width: 12px;
	                        height: 12px;
	                        margin: 5px 7px;
	                        filter: Alpha(Opacity=50);
	                        opacity: 0.5;
	                        -webkit-border-radius: 20px;
	                        -moz-border-radius: 20px;
	                        border-radius: 20px;
	                        background: #869791;
	                    }   
	                }
	                
	                
	            }
	            .prev{
	                float: left;
	                padding: 0px;
	                i{
	                    font-size: 50px;
	                    color: black;
	                    text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.34);

	                }
	            }
	            .next{
	                float: right;
	                padding: 0px;
	                i{
	                    font-size: 50px;
	                    color: black;
	                    text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.34);

	                }
	            }
	            .customNavigation{
	                position: absolute;
	                top: 48%;
	                width: 100%;
	                z-index: 1;
	            }
	        }
	        .team-leader-box{
	            width: 70%;
	            margin: 0 auto;

	            .team-leader-shadow{
	            	display: none;
	            }

	            ul.social-networks-desktop{
	            	display: none;
	            }

	            ul.social-networks-mobile{
	            	display: block;
        			text-align: center;
    			    list-style: none;
    			    margin-bottom: 40px;
    			    padding: 0;

    			    li{
    			    	display: inline-block;
    			    	width: 40px;

    			    	a{
    			    		font-size: 25px;
    			    		color: #888888;
    			    	}

    			    	&.write-us{
    			    		text-decoration: underline;
    			    		width: 100%;
    			    	}
    			    }
	        	}
	        }
			.video-container {
	            position: relative;
	            bottom: 0%;
	            left: 0%;
	            height: 100%;
	            width: 100%;
	            overflow: hidden;
	            background: #CCC;

	            video{
	                position: absolute;
	                z-index: 0;

	                &.fillWidth{
	                    width: 600px;
	                    min-height: 365px;
	                    min-width: 650px;
	                }
	            }

	            .poster{
	                img{
	                	height: 100%;
	                    width: 100%;
	                    bottom: 0;
	                    position: absolute;
	                }
	            }
	        }
	        .container-who-we-are{
	        	width: 90%;
	        }
	        #service{
	        	.container{
	        		width: 90%;
	        	}
	        }
	        .alabaster{
	        	.container{
	        		width: 90%;
	        	}
	        }
	        .portfolio-public-content{
	        	padding-left: 15px;
    			padding-right: 15px;
	        	width: 90%;
	        }

	        /* Our Technologies Section */
	        .c-logo-part{
				div{
					margin: 0 auto;

					&.slick-list{
						width: 80%;
					}
				}
	        }

			/* Portfolio Section */
	        .portfolio-public-content{
	        	.code-portfolio-content{
	        		input{
	        			width: 70%;
	        		}
	        	}
	        }


	        /* Modal */
	        .modal{
	        	.content{
	        		.description {
	                    width: 100%;
	                    display: inline-block;
	                    vertical-align: top;
	                    margin-right: 0px;
	                    margin-left: 6px;
	                }
	                ul{
	                	&.listing-features{
		                    font-size: 16px;
		                    list-style-type: none;
		                    margin-left: 6px;
		                    padding: 5px;
		                    display: inline-block;
		                    width: 100%;
		                    vertical-align: top;
		                    margin-top: 10px;
		                }
		            }
	        		
	        	}
                
	            &.modal-fullscreen{
	                .modal-content {
	                	.modal-title{
	                		margin-top: 40px;
	                	}
	                	.close-modal{
	                		height: 40px;
	                		width: 40px;

	                		.lr{
	                			height: 40px;
	                			margin-left: 20px;

	                			.rl{
	                				height: 40px;
	                			}
	                		}
	                	}
	                }
	            }
	        }

		}
	}

}